In [5]:
#Sesi 1 -from module

## Integers

In [2]:
print(123123123123+1)

123123123124

In [4]:
print(10)
print(type(10))

10
<class 'int'>

## Floating-Point Numbers
ditandai dengan decimal

In [9]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

## Strings
Merupakan urutan data karakter.

In [10]:
print('Hacktiv8')
print(type('Hacktiv8'))

Hacktiv8
<class 'str'>

In [16]:
print('')
print("This string contains a single quote (') character.")
print('This string contains a single quote (") character.')

This string contains a single quote (') character.
This string contains a single quote (") character.

## Boolean Type, Boolean Context, and "Truthiness"
True or False

In [19]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Variable Assignment

In [22]:
n=1000
print(n)
n

1000

1000

In [25]:
a=b=c=100
print(a,b,c)

100 100 100

## Variable Types in Python

In [27]:
var=23.5
print(var)

var ="Now I'm a string"
print(var)

23.5
Now I'm a string

## Variable Names
variable names tidak boleh dimulai dengan angka
bisa menggunakan digit dan juga karakter garis bawah

In [28]:
name="Hacktiv8"
age=54
has_laptops=True
print(name, age, has_laptops)

Hacktiv8 54 True

In [29]:
0_kepala_naga=True

SyntaxError: invalid token (<ipython-input-29-421765147a76>, line 1)

In [35]:
age=1
Age=2
aGe=3
AGE=4
a_g_e=5
_age=6
age_=7
_AGE_=8
print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

## Operators and Expressions in Python

In [38]:
a=10
b=20
a+b

30

In [39]:
a+b-5

25

## Arithmetic Operators

In [41]:
a=4
b=3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) #mod
print(a**b) #pangkat

7
1
12
1.3333333333333333
1
64

hasil dari pembagian (/) selalu dalam bentuk float
print(a/b)
print(type(a/b))

In [43]:
print(10/2)
print(type(10/2))

5.0
<class 'float'>

## Comparison Operators

In [46]:
a=10
b=20
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

a=30
b=30
print(a==b)
print(a<=b)
print(a>=b)

False
True
True
False
True
True
True

## String Manipulation

In [48]:
s='foo'
t='bar'
u='baz'

print(s+t)
print(s+t+u)
print('Hacktiv8'+'PTP')

foobar
foobarbaz
Hacktiv8PTP

In [55]:
s='foo.'
s*4

'foo.foo.foo.foo.'

In [59]:
s='foo'
print(s in 'That food for us') #Cek apakah foo ada dalam food
print(s in 'That good for us') #Cek apakah foo ada dalam good

True
False

In [60]:
s='HackTIV8'
#capitalize
print(s.capitalize())
#lower
print(s.lower())
#Swapcase
print(s.swapcase())
#Title
print(s.title())
#Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

## Python Lists
List diindentifikasikan dengan [] kurung siku

In [61]:
a=['foo', 'bar','baz','qux']
print(a)

['foo', 'bar', 'baz', 'qux']

In [62]:
#List adalah kumpulan dari object yang berurutan.
a=['foo', 'bar','baz','qux']
b=['baz','foo', 'bar','qux']
a==b

False

In [65]:
#List dapat berisi macam-macam object
a=[21.42, 'foobar',3,4,'bark',False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [72]:
#List Elements Can be Acessed by Index
a=['foo','bar','baz','qux','quux','corge']
#index 0,1,2,3,4,5
#index -6,-5,-4,-3,-2,-1
print(a[0])
print(a[5])
print(a[-1])
print(a[-6])

foo
corge
corge
foo

In [73]:
#Slicing

a=['foo','bar','baz','qux','quux','corge']
a[2:5]

['baz', 'qux', 'quux']

In [74]:
print(a)
print(a+['grault','garply'])
print(a*2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [75]:
#len(), min(), max()
print(a)
print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [76]:
a=['foo','bar','baz','qux','quux','corge']
print(a)
a[2]=10
a[-1]=20
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [77]:
del a[3]

In [78]:
print(a)

['foo', 'bar', 10, 'quux', 20]

## Modifying Multiple List Values

In [79]:
a=['foo','bar','baz','qux','quux','corge']
print(a[1:4])
a[1:4]=[1.1,2.2,3.3,4.4,5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

## Python Tuples
Tuples didefinisikan dengan mengapit elemen dalam tanda kurung (()) daripada tanda kurung siku [[]]

In [81]:
t=('foo','bar','baz','qux','quux','corge')
print(t)
print(t[0])
print(t[-1])

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
foo
corge

In [84]:
(s1,s2,s3,s4)=('foo','bar','baz','qux')
s1

'foo'

## Python Dictionary
menggunakan kurung {}

In [86]:
MLB_team={
    'Colorado': 'Rockies',
    'Boston':'Red Sox',
    'Minnesota':'Twins',
    'Milwaukee':'Brewers',
    'Seattle':'Mariners'
}

In [90]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [91]:
#Adding entry to existing dictionary
MLB_team['Kansas City']='Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [93]:
#Update entry
MLB_team['Seattle']='Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [97]:
#delete entry
del MLB_team['Seattle']
MLB_team

KeyError: 'Seattle'

## Building a Dictionary Incrementally
Menambahkan dictionary sambil jalan

In [98]:
person={}
type(person)

dict

In [105]:
person['fname']='Hack'
person['lname']='PTP'
person['age']=51
person['spouse']='Edna'
person['children']=['Ralph','Betty','Joey']
person['pets']={'dog':'Fido', 'cat':'Sox'}

In [106]:
person

{'frame': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'},
 'fname': 'Hack'}

In [107]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [108]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [110]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [112]:
#Built-in Methods
d={'a':10,'b':20,'c':30}
print(d.items())
print(d.keys())
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## Line Continuation
Misal satu pernyataan dalam kode Python sangan panjang. Misalnya, kalian mungkin  memiliki assignment statement dengan banyak terms

In [114]:
person1_age=42
person2_age=16
person3_age=71

someone_is_of_working_age=(person1_age>= 18 and person1_age<=65) or (person2_age>=18 and person2_age<=65) or (person3_age>=18 and person3_age<=65)
someone_is_of_working_age

True

In [117]:
someone_is_of_working_age=(
    (person1_age>= 18 and person1_age<=65)
    or (person2_age>=18 and person2_age<=65)
    or (person3_age>=18 and person3_age<=65)
)
someone_is_of_working_age

True