In [1]:
# import pandas, numpy, and load dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import files
uploaded = files.upload()

Saving 03. sales_subset.csv to 03. sales_subset.csv

In [2]:
sales = pd.read_csv('03. sales_subset.csv')
sales

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2/5/2010,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,3/5/2010,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,4/2/2010,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,5/7/2010,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,6/4/2010,17558.09,False,27.050000,0.714586,7.808
...,...,...,...,...,...,...,...,...,...,...
8794,8794,27,A,77,11/25/2011,477.00,True,8.822222,0.974531,7.906
8795,8795,27,A,77,2/24/2012,-8.27,False,5.411111,1.034762,8.009
8796,8796,27,A,77,3/2/2012,350.00,False,4.483333,1.052198,8.009
8797,8797,27,A,77,4/13/2012,175.00,False,11.233333,1.106089,8.253
8798,8798,27,A,77,5/18/2012,175.00,False,18.416667,1.064350,8.253

1. Explore your new DataFrame first by printing the first few rows of the sales DataFrame.
2. Print information about the columns in sales.
3. Print the mean of the weekly_sales column.
4. Print the median of the weekly_sales column.

In [6]:
# Print the head of the sales DataFrame
print(sales.head())

# Print the info about the sales DataFrame
print(sales.info())

# Print the mean of weekly_sales
print(sales['weekly_sales'].mean())

# Print the median of weekly_sales
print(sales['weekly_sales'].median())

   Unnamed: 0  store type  department      date  weekly_sales  is_holiday  \
0           0      1    A           1  2/5/2010      24924.50       False
1           1      1    A           1  3/5/2010      21827.90       False
2           2      1    A           1  4/2/2010      57258.43       False
3           3      1    A           1  5/7/2010      17413.94       False
4           4      1    A           1  6/4/2010      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8799 entries, 0 to 8798
Data columns (total 10 columns):
Unnamed: 0              8799 non-null int64
store                   8799 non-null int64
type                    8799 non-null object
department              8799 non-null int64
date                    8799 non-null object
weekly_sales            8799 non-null float64
is_holiday              8799 non-null bool
temperature_c           8799 non-null float64
fuel_price_usd_per_l    8799 non-null float64
unemployment            8799 non-null float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 627.4+ KB
None
24473.506343902704
12620.85

1. Print the maximum of the date column.
2. Print the minimum of the date column.

In [8]:
# Print the maximum of the date column
print(sales['date'].max())

# Print the minimum of the date column
print(sales['date'].min())

9/9/2011
1/13/2012

Use the custom iqr function defined for you along with .agg() to print the IQR of the temperature_c column of sales.

In [13]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales['temperature_c'].agg(iqr))

16.75

Update the column selection to use the custom iqr function with .agg() to print the IQR of temperature_c, fuel_price_usd_per_l, and unemployment, in that order.

In [15]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", 'fuel_price_usd_per_l', 'unemployment']].agg(iqr))

temperature_c           16.750000
fuel_price_usd_per_l     0.070006
unemployment             0.553000
dtype: float64

1. Sort the rows of sales_1_1 by the date column in ascending order.
2. Get the cumulative sum of weekly_sales and add it as a new column of sales_1_1 called cum_weekly_sales.
3. Get the cumulative maximum of weekly_sales, and add it as a column called cum_max_sales.
4. Print the date, weekly_sales, cum_weekly_sales, and cum_max_sales columns.

In [16]:
sales_1 = sales[sales['department'] == 1]
sales_1_1 = sales[sales['store'] == 1]

# Sort sales_1_1 by date
sales_1_1 = sales_1_1.sort_values('date')

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1['cum_weekly_sales'] = sales['weekly_sales'].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1['cum_max_sales'] = sales['weekly_sales'].cummax()

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

          date  weekly_sales  cum_weekly_sales  cum_max_sales
693  1/20/2012        396.00        9908447.16      115564.35
59    1/7/2011      22699.69        1751146.14       57258.43
582   1/7/2011         51.84        8764538.83      115564.35
769   1/7/2011       4121.22       11291160.85      115564.35
202   1/7/2011       5180.76        4860620.16       57258.43
..         ...           ...               ...            ...
686   9/3/2010      11691.33        9861348.21      115564.35
557   9/3/2010         22.24        8727851.78      115564.35
837   9/3/2010      64285.98       16341036.18      140504.41
19    9/3/2010      49015.05         671136.79       57258.43
79    9/3/2010      18005.65        1997283.88       57258.43

[901 rows x 4 columns]

1. Remove rows of sales with duplicate pairs of store and type and save as store_types and print the head.
2. Remove rows of sales with duplicate pairs of store and department and save as store_depts and print the head.
3. Subset the rows that are holiday weeks using the is_holiday column, and drop the duplicate dates, saving as holiday_dates.
4. Select the date column of holiday_dates, and print.

In [23]:
# Drop duplicate store/type combinations
store_types = ____
print(store_types.head())

# Drop duplicate store/department combinations
store_depts = ____
print(store_depts.head())

# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales[____]].drop_duplicates(____)

# Print date col of holiday_dates
print(____)

      Unnamed: 0  store type  ...  temperature_c fuel_price_usd_per_l  unemployment
0              0      1    A  ...       5.727778             0.679451         8.106
901          901      2    A  ...       4.550000             0.679451         8.324
1798        1798      4    A  ...       6.533333             0.686319         8.623
2699        2699      6    A  ...       4.683333             0.679451         7.259
3593        3593     10    B  ...      12.411111             0.782478         9.765

[5 rows x 10 columns]
    Unnamed: 0  store type  ...  temperature_c fuel_price_usd_per_l  unemployment
0            0      1    A  ...       5.727778             0.679451         8.106
12          12      1    A  ...       5.727778             0.679451         8.106
24          24      1    A  ...       5.727778             0.679451         8.106
36          36      1    A  ...       5.727778             0.679451         8.106
48          48      1    A  ...       5.727778             0.679451         8.106

[5 rows x 10 columns]
498     2010-09-10
691     2011-11-25
2315    2010-02-12
6735    2012-09-07
6810    2010-12-31
6815    2012-02-10
6820    2011-09-09
Name: date, dtype: object

1. Count the number of stores of each store type in store_types.
2. Count the proportion of stores of each store type in store_types.
3. Count the number of different departments in store_depts, sorting the counts in descending order.
4. Count the proportion of different departments in store_depts, sorting the proportions in descending order.

In [19]:
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(['store', 'type'])
print(store_types.head())

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(['store', 'department'])
print(store_depts.head())

# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales['is_holiday']].drop_duplicates('date')

# Print date col of holiday_dates
print(holiday_dates['date'])

      Unnamed: 0  store type  department      date  weekly_sales  is_holiday  \
0              0      1    A           1  2/5/2010      24924.50       False
901          901      2    A           1  2/5/2010      35034.06       False
1798        1798      4    A           1  2/5/2010      38724.42       False
2699        2699      6    A           1  2/5/2010      25619.00       False
3593        3593     10    B           1  2/5/2010      40212.84       False

      temperature_c  fuel_price_usd_per_l  unemployment
0          5.727778              0.679451         8.106
901        4.550000              0.679451         8.324
1798       6.533333              0.686319         8.623
2699       4.683333              0.679451         7.259
3593      12.411111              0.782478         9.765
    Unnamed: 0  store type  department      date  weekly_sales  is_holiday  \
0            0      1    A           1  2/5/2010      24924.50       False
12          12      1    A           2  2/5/2010      50605.27       False
24          24      1    A           3  2/5/2010      13740.12       False
36          36      1    A           4  2/5/2010      39954.04       False
48          48      1    A           5  2/5/2010      32229.38       False

    temperature_c  fuel_price_usd_per_l  unemployment
0        5.727778              0.679451         8.106
12       5.727778              0.679451         8.106
24       5.727778              0.679451         8.106
36       5.727778              0.679451         8.106
48       5.727778              0.679451         8.106
498      9/10/2010
691     11/25/2011
2315     2/12/2010
6735      9/7/2012
6810    12/31/2010
6815     2/10/2012
6820      9/9/2011
Name: date, dtype: object

1. Calculate the total weekly_sales over the whole dataset.
2. Subset for type "A" stores, and calculate their total weekly sales.
3. Do the same for type "B" and type "C" stores.
4. Combine the A/B/C results into a list, and divide by sales_all to get the proportion of sales by type.

In [20]:
# Calc total weekly sales
sales_all = sales["weekly_sales"].sum()

# Subset for type A stores, calc total weekly sales
sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()

# Subset for type B stores, calc total weekly sales
sales_B = sales[sales["type"] == "B"]["weekly_sales"].sum()

# Subset for type C stores, calc total weekly sales
sales_C = sales[sales["type"] == "C"]["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propn_by_type)

[0.89236488 0.10763512 0.        ]

1. Group sales by "type", take the sum of "weekly_sales", and store as sales_by_type.
2. Calculate the proportion of sales at each store type by dividing by the sum of sales_by_type. Assign to sales_propn_by_type

In [21]:
# Group by type; calc total weekly sales
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = sales.groupby('type')["weekly_sales"].sum() / sum(sales_by_type)
print(sales_propn_by_type)

type
A    0.892365
B    0.107635
Name: weekly_sales, dtype: float64

Group sales by "type" and "is_holiday", take the sum of weekly_sales, and store as sales_by_type_is_holiday.

In [22]:
# From previous step
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(['type', 'is_holiday'])['weekly_sales'].sum()
print(sales_by_type_is_holiday)

type  is_holiday
A     False         1.921472e+08
      True          1.673938e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64

1. Import numpy with the alias np.
2. Get the min, max, mean, and median of weekly_sales for each store type using .groupby() and .agg(). Store this as sales_stats. Make sure to use numpy functions!
3. Get the min, max, mean, and median of unemployment and fuel_price_usd_per_l for each store type. Store this as unemp_fuel_stats.

In [23]:
# Import numpy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby('type')['weekly_sales'].agg([np.min, np.max, np.mean,  np.median])

# Print sales_stats
print(sales_stats)

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby('type')[['unemployment', 'fuel_price_usd_per_l']].agg([np.min, np.max, np.mean, np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

        amin       amax          mean    median
type
A    -1098.0  293966.05  24333.794913  12500.75
B     -798.0  232558.51  25696.678370  13336.08
     unemployment                         fuel_price_usd_per_l            \
             amin   amax      mean median                 amin      amax
type
A           3.879  8.992  7.899938  7.982             0.664129  1.107410
B           7.170  9.765  9.279323  9.199             0.760023  1.107674


          mean    median
type
A     0.749172  0.743381
B     0.805858  0.803348

Get the mean weekly_sales by type using .pivot_table() and store as mean_sales_by_type.

In [24]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values='weekly_sales', index='type')

# Print mean_sales_by_type
print(mean_sales_by_type)

      weekly_sales
type
A     24333.794913
B     25696.678370

Get the mean and median (using NumPy functions) of weekly_sales by type using .pivot_table() and store as mean_med_sales_by_type.

In [26]:
# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(values = 'weekly_sales', index='type', aggfunc=[np.mean, np.median])

# Print mean_med_sales_by_type
print(mean_med_sales_by_type)

              mean       median
      weekly_sales weekly_sales
type
A     24333.794913     12500.75
B     25696.678370     13336.08

Get the mean of weekly_sales by type and is_holiday using .pivot_table() and store as mean_sales_by_type_holiday.

In [27]:
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(values = 'weekly_sales', index = 'type', columns = 'is_holiday', aggfunc = np.mean)

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

is_holiday         False       True
type
A           24433.779126  507.253939
B           25751.980533  810.705000

Print the mean weekly_sales by department and type, filling in any missing values with 0.

In [28]:
# Print mean weekly_sales by department and type; fill missing values with 0
print(sales.pivot_table(values = 'weekly_sales', index = 'department', columns = 'type', fill_value = 0))

type                    A              B
department
1            33514.681019   44050.626667
2            69614.386852  112958.526667
3            18033.250833   30580.655000
4            45839.196204   51219.654167
5            37997.298889   63236.875000
...                   ...            ...
95          129969.181042   77082.102500
96           19876.540667    9528.538333
97           29705.815729    5828.873333
98           13982.159167     217.428333
99             374.786742       0.000000

[80 rows x 2 columns]

Print the mean weekly_sales by department and type, filling in any missing values with 0 and summing all rows and columns.

In [29]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value = 0, margins = True))

type                   A              B           All
department
1           33514.681019   44050.626667  34568.275583
2           69614.386852  112958.526667  73948.800833
3           18033.250833   30580.655000  19287.991250
4           45839.196204   51219.654167  46377.242000
5           37997.298889   63236.875000  40521.256500
...                  ...            ...           ...
96          19876.540667    9528.538333  18659.128627
97          29705.815729    5828.873333  27052.822130
98          13982.159167     217.428333  12452.744630
99            374.786742       0.000000    374.786742
All         24333.794913   25696.678370  24473.506344

[81 rows x 3 columns]