In [8]:
# Import pandas using the alias pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

homelessness = pd.read_csv('01. homelessness.csv')
homelessness.drop(columns=['Unnamed: 0'], inplace=True)
homelessness

# Print the head of the homelessness data
print(homelessness.head())

# Print information about homelessness
print(homelessness.info())

# Print the shape of homelessness
print(homelessness.shape)

# Print a description of homelessness
print(homelessness.describe())

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama         2570             864    4887681
1             Pacific      Alaska         1434             582     735139
2            Mountain     Arizona         7259            2606    7158024
3  West South Central    Arkansas         2280             432    3009733
4             Pacific  California       109008           20964   39461588
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
region            51 non-null object
state             51 non-null object
individuals       51 non-null int64
family_members    51 non-null int64
state_pop         51 non-null int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB
None
(51, 5)
         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

In [13]:
# Print the values of homelessness
print(homelessness.values)

# Print the column index of homelessness
print(homelessness.columns)

# Print the row index of homelessness
print(homelessness.index)

[['East South Central' 'Alabama' 2570 864 4887681]
 ['Pacific' 'Alaska' 1434 582 735139]
 ['Mountain' 'Arizona' 7259 2606 7158024]
 ['West South Central' 'Arkansas' 2280 432 3009733]
 ['Pacific' 'California' 109008 20964 39461588]
 ['Mountain' 'Colorado' 7607 3250 5691287]
 ['New England' 'Connecticut' 2280 1696 3571520]
 ['South Atlantic' 'Delaware' 708 374 965479]
 ['South Atlantic' 'District of Columbia' 3770 3134 701547]
 ['South Atlantic' 'Florida' 21443 9587 21244317]
 ['South Atlantic' 'Georgia' 6943 2556 10511131]
 ['Pacific' 'Hawaii' 4131 2399 1420593]
 ['Mountain' 'Idaho' 1297 715 1750536]
 ['East North Central' 'Illinois' 6752 3891 12723071]
 ['East North Central' 'Indiana' 3776 1482 6695497]
 ['West North Central' 'Iowa' 1711 1038 3148618]
 ['West North Central' 'Kansas' 1443 773 2911359]
 ['East South Central' 'Kentucky' 2735 953 4461153]
 ['West South Central' 'Louisiana' 2540 519 4659690]
 ['New England' 'Maine' 1450 1066 1339057]
 ['South Atlantic' 'Maryland' 4914 2230 6035802]
 ['New England' 'Massachusetts' 6811 13257 6882635]
 ['East North Central' 'Michigan' 5209 3142 9984072]
 ['West North Central' 'Minnesota' 3993 3250 5606249]
 ['East South Central' 'Mississippi' 1024 328 2981020]
 ['West North Central' 'Missouri' 3776 2107 6121623]
 ['Mountain' 'Montana' 983 422 1060665]
 ['West North Central' 'Nebraska' 1745 676 1925614]
 ['Mountain' 'Nevada' 7058 486 3027341]
 ['New England' 'New Hampshire' 835 615 1353465]
 ['Mid-Atlantic' 'New Jersey' 6048 3350 8886025]
 ['Mountain' 'New Mexico' 1949 602 2092741]
 ['Mid-Atlantic' 'New York' 39827 52070 19530351]
 ['South Atlantic' 'North Carolina' 6451 2817 10381615]
 ['West North Central' 'North Dakota' 467 75 758080]
 ['East North Central' 'Ohio' 6929 3320 11676341]
 ['West South Central' 'Oklahoma' 2823 1048 3940235]
 ['Pacific' 'Oregon' 11139 3337 4181886]
 ['Mid-Atlantic' 'Pennsylvania' 8163 5349 12800922]
 ['New England' 'Rhode Island' 747 354 1058287]
 ['South Atlantic' 'South Carolina' 3082 851 5084156]
 ['West North Central' 'South Dakota' 836 323 878698]
 ['East South Central' 'Tennessee' 6139 1744 6771631]
 ['West South Central' 'Texas' 19199 6111 28628666]
 ['Mountain' 'Utah' 1904 972 3153550]
 ['New England' 'Vermont' 780 511 624358]
 ['South Atlantic' 'Virginia' 3928 2047 8501286]
 ['Pacific' 'Washington' 16424 5880 7523869]
 ['South Atlantic' 'West Virginia' 1021 222 1804291]
 ['East North Central' 'Wisconsin' 2740 2167 5807406]
 ['Mountain' 'Wyoming' 434 205 577601]]
Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')
RangeIndex(start=0, stop=51, step=1)

1. Sort homelessness by the number of homeless individuals, from smallest to largest, and save this as homelessness_ind.
2. Print the head of the sorted DataFrame.

In [15]:
# Sort homelessness by individual
homelessness_ind = homelessness.sort_values('individuals', ascending=True)

# Print the top few rows
print(homelessness_ind.head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming          434             205     577601
34  West North Central  North Dakota          467              75     758080
7       South Atlantic      Delaware          708             374     965479
39         New England  Rhode Island          747             354    1058287
45         New England       Vermont          780             511     624358

1. Sort homelessness by the number of homeless family_members in descending order, and save this as homelessness_fam.
2. Print the head of the sorted DataFrame.

In [17]:
# Sort homelessness by descending family members
homelessness_fam = homelessness.sort_values('family_members', ascending=False)

# Print the top few rows
print(homelessness_fam.head())

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York        39827           52070   19530351
4              Pacific     California       109008           20964   39461588
21         New England  Massachusetts         6811           13257    6882635
9       South Atlantic        Florida        21443            9587   21244317
43  West South Central          Texas        19199            6111   28628666

1. Sort homelessness first by region (ascending), and then by number of family members (descending). Save this as homelessness_reg_fam.
2. Print the head of the sorted DataFrame.

In [27]:
# Sort homelessness by region, then descending family members
homelessness_reg_fam = homelessness.sort_values(['region', 'family_members'], ascending = [True, False])

# Print the top few rows
print(homelessness_reg_fam.head())

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois         6752            3891   12723071
35  East North Central       Ohio         6929            3320   11676341
22  East North Central   Michigan         5209            3142    9984072
49  East North Central  Wisconsin         2740            2167    5807406
14  East North Central    Indiana         3776            1482    6695497

1. Create a DataFrame called individuals that contains only the individuals column of homelessness.
2. Print the head of the result.

In [29]:
# Select the individuals column
individuals = homelessness['individuals']

# Print the head of the result
print(individuals.head())

0      2570
1      1434
2      7259
3      2280
4    109008
Name: individuals, dtype: int64

1. Create a DataFrame called state_fam that contains only the state and family_members columns of homelessness, in that order.
2. Print the head of the result.

In [32]:
# Select the state and family_members columns
state_fam = homelessness[['state','family_members']]

# Print the head of the result
print(state_fam.head())

        state  family_members
0     Alabama             864
1      Alaska             582
2     Arizona            2606
3    Arkansas             432
4  California           20964

1. Create a DataFrame called ind_state that contains the individuals and state columns of homelessness, in that order.
2. Print the head of the result.

In [33]:
# Select only the individuals and state columns, in that order
ind_state = homelessness[['individuals','state']]

# Print the head of the result
print(ind_state.head())

   individuals       state
0         2570     Alabama
1         1434      Alaska
2         7259     Arizona
3         2280    Arkansas
4       109008  California

Filter homelessness for cases where the number of individuals is greater than ten thousand, assigning to ind_gt_10k. View the printed result.

In [35]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[homelessness['individuals']>10000]

# See the result
print(ind_gt_10k)

                region       state  individuals  family_members  state_pop
4              Pacific  California       109008           20964   39461588
9       South Atlantic     Florida        21443            9587   21244317
32        Mid-Atlantic    New York        39827           52070   19530351
37             Pacific      Oregon        11139            3337    4181886
43  West South Central       Texas        19199            6111   28628666
47             Pacific  Washington        16424            5880    7523869

Filter homelessness for cases where the USA Census region is "Mountain", assigning to mountain_reg. View the printed result.

In [38]:
# Filter for rows where region is Mountain
mountain_reg = homelessness[homelessness['region']=='Mountain']

# See the result
print(mountain_reg)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona         7259            2606    7158024
5   Mountain    Colorado         7607            3250    5691287
12  Mountain       Idaho         1297             715    1750536
26  Mountain     Montana          983             422    1060665
28  Mountain      Nevada         7058             486    3027341
31  Mountain  New Mexico         1949             602    2092741
44  Mountain        Utah         1904             972    3153550
50  Mountain     Wyoming          434             205     577601

Filter homelessness for cases where the number of family_members is less than one thousand and the region is "Pacific", assigning to fam_lt_1k_pac. View the printed result.

In [42]:
# Filter for rows where family_members is less than 1000 
# and region is Pacific
fam_lt_1k_pac = homelessness[(homelessness['family_members']<1000) & (homelessness['region']=='Pacific')]

# See the result
print(fam_lt_1k_pac)

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska         1434             582     735139

Filter homelessness for cases where the USA census region is "South Atlantic" or it is "Mid-Atlantic", assigning to south_mid_atlantic. View the printed result

In [48]:
# Subset for rows in South Atlantic or Mid-Atlantic regions
south_mid_atlantic = homelessness[(homelessness['region'] == 'South Atlantic') | (homelessness['region'] == 'Mid-Atlantic')]

# See the result
print(south_mid_atlantic)

            region                 state  individuals  family_members  \
7   South Atlantic              Delaware          708             374
8   South Atlantic  District of Columbia         3770            3134
9   South Atlantic               Florida        21443            9587
10  South Atlantic               Georgia         6943            2556
20  South Atlantic              Maryland         4914            2230
30    Mid-Atlantic            New Jersey         6048            3350
32    Mid-Atlantic              New York        39827           52070
33  South Atlantic        North Carolina         6451            2817
38    Mid-Atlantic          Pennsylvania         8163            5349
40  South Atlantic        South Carolina         3082             851
46  South Atlantic              Virginia         3928            2047
48  South Atlantic         West Virginia         1021             222

    state_pop
7      965479
8      701547
9    21244317
10   10511131
20    6035802
30    8886025
32   19530351
33   10381615
38   12800922
40    5084156
46    8501286
48    1804291

Filter homelessness for cases where the USA census state is in the list of Mojave states, canu, assigning to mojave_homelessness. View the printed result.

In [53]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_homelessness = homelessness[homelessness['state'].isin(canu)]

# See the result
print(mojave_homelessness)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona         7259            2606    7158024
4    Pacific  California       109008           20964   39461588
28  Mountain      Nevada         7058             486    3027341
44  Mountain        Utah         1904             972    3153550

1. Add a new column to homelessness, named total, containing the sum of the individuals and family_members columns.
2. Add another column to homelessness, named p_individuals, containing the proportion of homeless people in each state who are individuals.

In [60]:
# Add total col as sum of individuals and family_members
homelessness['total']= homelessness['individuals']+ homelessness['family_members']

# Add p_individuals col as proportion of individuals
homelessness['p_individuals']= homelessness['individuals']/ homelessness['total']

# See the result
print(homelessness)

                region                 state  individuals  family_members  \
0   East South Central               Alabama         2570             864
1              Pacific                Alaska         1434             582
2             Mountain               Arizona         7259            2606
3   West South Central              Arkansas         2280             432
4              Pacific            California       109008           20964
5             Mountain              Colorado         7607            3250
6          New England           Connecticut         2280            1696
7       South Atlantic              Delaware          708             374
8       South Atlantic  District of Columbia         3770            3134
9       South Atlantic               Florida        21443            9587
10      South Atlantic               Georgia         6943            2556
11             Pacific                Hawaii         4131            2399
12            Mountain                 Idaho         1297             715
13  East North Central              Illinois         6752            3891
14  East North Central               Indiana         3776            1482
15  West North Central                  Iowa         1711            1038
16  West North Central                Kansas         1443             773
17  East South Central              Kentucky         2735             953
18  West South Central             Louisiana         2540             519
19         New England                 Maine         1450            1066
20      South Atlantic              Maryland         4914            2230
21         New England         Massachusetts         6811           13257
22  East North Central              Michigan         5209            3142
23  West North Central             Minnesota         3993            3250
24  East South Central           Mississippi         1024             328
25  West North Central              Missouri         3776            2107
26            Mountain               Montana          983             422
27  West North Central              Nebraska         1745             676
28            Mountain                Nevada         7058             486
29         New England         New Hampshire          835             615
30        Mid-Atlantic            New Jersey         6048            3350
31            Mountain            New Mexico         1949             602
32        Mid-Atlantic              New York        39827           52070
33      South Atlantic        North Carolina         6451            2817
34  West North Central          North Dakota          467              75
35  East North Central                  Ohio         6929            3320
36  West South Central              Oklahoma         2823            1048
37             Pacific                Oregon        11139            3337
38        Mid-Atlantic          Pennsylvania         8163            5349
39         New England          Rhode Island          747             354
40      South Atlantic        South Carolina         3082             851
41  West North Central          South Dakota          836             323
42  East South Central             Tennessee         6139            1744
43  West South Central                 Texas        19199            6111
44            Mountain                  Utah         1904             972
45         New England               Vermont          780             511
46      South Atlantic              Virginia         3928            2047
47             Pacific            Washington        16424            5880
48      South Atlantic         West Virginia         1021             222
49  East North Central             Wisconsin         2740            2167
50            Mountain               Wyoming          434             205

    state_pop   total  p_individuals
0     4887681    3434       0.748398
1      735139    2016       0.711310
2     7158024    9865       0.735834
3     3009733    2712       0.840708
4    39461588  129972       0.838704
5     5691287   10857       0.700654
6     3571520    3976       0.573441
7      965479    1082       0.654344
8      701547    6904       0.546060
9    21244317   31030       0.691041
10   10511131    9499       0.730919
11    1420593    6530       0.632619
12    1750536    2012       0.644632
13   12723071   10643       0.634408
14    6695497    5258       0.718144
15    3148618    2749       0.622408
16    2911359    2216       0.651173
17    4461153    3688       0.741594
18    4659690    3059       0.830337
19    1339057    2516       0.576312
20    6035802    7144       0.687850
21    6882635   20068       0.339396
22    9984072    8351       0.623758
23    5606249    7243       0.551291
24    2981020    1352       0.757396
25    6121623    5883       0.641849
26    1060665    1405       0.699644
27    1925614    2421       0.720777
28    3027341    7544       0.935578
29    1353465    1450       0.575862
30    8886025    9398       0.643541
31    2092741    2551       0.764014
32   19530351   91897       0.433387
33   10381615    9268       0.696051
34     758080     542       0.861624
35   11676341   10249       0.676066
36    3940235    3871       0.729269
37    4181886   14476       0.769481
38   12800922   13512       0.604130
39    1058287    1101       0.678474
40    5084156    3933       0.783626
41     878698    1159       0.721311
42    6771631    7883       0.778764
43   28628666   25310       0.758554
44    3153550    2876       0.662031
45     624358    1291       0.604183
46    8501286    5975       0.657406
47    7523869   22304       0.736370
48    1804291    1243       0.821400
49    5807406    4907       0.558386
50     577601     639       0.679186

1. Add a column to homelessness, indiv_per_10k, containing the number of homeless individuals per ten thousand people in each state.
2. Subset rows where indiv_per_10k is higher than 20, assigning to high_homelessness.
3. Sort high_homelessness by descending indiv_per_10k, assigning to high_homelessness_srt.
4. Select only the state and indiv_per_10k columns of high_homelessness_srt and save as result. Look at the result.

In [62]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * homelessness['individuals'] / homelessness['state_pop'] 

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness["indiv_per_10k"]>20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = high_homelessness.sort_values('indiv_per_10k', ascending= False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[['state', 'indiv_per_10k']]

# See the result
print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363